
@keyframes floating {
    0% {
      transform: translateX(20px);
    }
    50% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(20px);
    }
}

@keyframes floating1 {
  0% {
    transform: translateZ(20px);
  }
  50% {
    transform: translateZ(0);
  }
  100% {
    transform: translateZ(20px);
  }
}


@keyframes render{
    0%{
        background-color: #9C69E2;
    }
    50%{
        background-color: #ee81f0;
    }
    100%{
        background-color: #9C69E2;
    }
}


@keyframes render1{
  0%{
      background-color:#f063b8;
  }
  50%{
      background-color: #f5c0e5;
  }
  100%{
      background-color: #f063b8;
  }
}