.features__sections {
  margin-left: 15%;
  margin-right: 8%;
}

.column{
  display: flex;
  align-items: stretch;
  flex-direction: column;
  width: 100%;
}

.first-row{
  display: flex;
  height: 358px;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 50px;
}

.second-row{
  display: flex;
  height: 358px;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 130px;
}

.feature-sections__img{
  width: 40%;
}

.feature-sections__text {
  flex-direction: column;
  vertical-align: middle;
  padding-left: 25px;
}

.feature-sections__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}

.features-sections__learn-more{
    font-family: 'Avenir';
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    vertical-align: bottom;
    color: #212353;
}

.pointer-img{
  padding-left: 20px;
}

.first-feature {
  display: flex;
  width: 540px;
  align-items: center;
  background-position: 25%;
  background-image: url(../images/first-feature-background.svg);
  background-repeat: no-repeat;
}

.second-feature{
  display: flex;
  width: 540px;
  align-items: center;
  background-position: 25%;
  background-image: url(../images/second-feature-background.svg);
  background-repeat: no-repeat;
}

.third-feature{
  display: flex;
  width: 540px;
  align-items: center;
  background-position: 25%;
  background-image: url(../images/third-feature-background.svg);
  background-repeat: no-repeat;
}

.fourth-feature{
  display: flex;
  width: 540px;
  align-items: center;
  background-position: 25%;
  background-image: url(../images/fourth-feature-background.svg);
  background-repeat: no-repeat;
}