.footer {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
  }
  
  .line {
    height: 2px;
    background: #9c69e2;
    opacity: 0.2;
    width: 100%;
    margin-bottom: 100px;
  }
  
  .top-footer {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .footer__text {
    display: flex;
    flex-direction: column;
  }
  
  .footer__title {
   
    margin-top: 0;
    margin-bottom: 5px;
  }
  
  .footer__buttons {
    display: flex;
    column-gap: 30px;
  }
  
  .footer__learn-more-button {
    size: 18px;
    width: 170px;
    height: 60px;
    color: #fff;
    background: #f063b8;
  }
  
  .footer__request-demo-button {
    width: 210px;
    height: 60px;
    background: #fff;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    color: #212353;
  }
  
  .bottom-footer {
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  
  .rights-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 180%;
    color: #212353;
  }