body{
    font-family: "Avenir";
    color: #4B5D68;
}

@media screen and (max-width: 768px) {
    body{
        text-align: center;
    }
    
}


.container{
    max-width: 1100px;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .container{
        padding: 0 40px;
    }  
}

a{
    text-decoration: none ;
    color: #4B5D68;
}

li{
    display: block;
}

p{
    margin: 0;
}

button{
    font-weight: 900;
    font-size: 16px;
    line-height: 160%;
    border-radius: 50px;
    border: 0;
}

@media screen and (max-width: 768px) {
    :root{
        font-size: 12px;
    }
}