.hero{
    background-image: url(../images/hero.svg); 
    background-repeat: no-repeat;  
    background-position: right center;
    background-size: 53.3125rem 29.25rem;
}
.hero__inner{
    /*width: 645px;*/
    width: 40rem;
    padding-top: 5rem;
    padding-bottom: 23.75rem;
}



.hero__title{
    font-weight: 700;
    font-size: 5rem;
    line-height: 110%;
    color: #212353;
}

.hero__paragraph{
    width: 23.75rem;
    height: 7.5rem;
    
    top: 474px;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 160%;
    color: #4B5D68;
}


.hero__button{
    /*width: 170px;*/
    width: 10.625rem;
    height: 60px;
    left: 15rem;
    top: 644px;

/* 3 */

    background: #9C69E2;
    border-radius: 3.125rem;
    animation: render 2s ease-in-out infinite;
}


@media screen and (max-width: 768px) {
    .hero__inner{
        flex-direction: column;
        text-align: center;
        padding-bottom: 5rem;
        width: 30rem;
        left: auto;
        right: auto;
    }

    .hero__title{
        font-size: 3rem;
    }

    .hero__button {
        align-items: center;
        font-size: 1.25rem;
        width: 15.66rem;
        height: 48px;
      }

    .hero__paragraph{
        text-align: center;
        width: 30rem;
    }

    .hero{
        background: none;
    }
}